/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.image {
  background-image: url(https://ak9.picdn.net/shutterstock/videos/7906999/thumb/1.jpg);
 background-size: 100% 125%;
 background-repeat: no-repeat;
 margin-top: -1rem;
 
}

.row1 {
  background-color: blue;
  width: 75%;
}

.noArticle {
  background-color: orange;
  width: 75%;
  justify-content: center;
  color: white;
}
